@font-face {
    font-family: "72";
    src: url("https://belindaxo.github.io/3d-funnel-custom-widget/fonts/72-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "72";
    src: url("https://belindaxo.github.io/3d-funnel-custom-widget/fonts/72-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "72";
    src: url("https://belindaxo.github.io/3d-funnel-custom-widget/fonts/72-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}